<div style="height: 20px"></div>
    <table class="table table-dark">
      <thead>
        <th scope="col">_ID</th>
        <th scope="col">Livro</th>
        <th scope="col">Usuário</th>
        <th scope="col">Prazo</th>
    </thead> 

    <tbody> <tr *ngFor="let withdraw of RetiradaService.Withdraws">
            <td>{{withdraw._id}}</td>
            <td>{{withdraw.livro.name}}</td>
            <td>{{withdraw.user.name}}</td>
            <td>{{withdraw.dateDevolution | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>

</table>
